body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

@media(max-width: 1500px){
    body{
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
    }
}

/*card1*/
.card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card:hover{
    width: 600px;
    transition-delay: 0s;
}
.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f40103;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card:hover .circle::before{
    clip-path: circle(400px at center);
    
}

.card .circle .logo{
    position: relative;
    width: 200px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.card:hover .circle .logo{
    transform: scale(0);
    transition-delay: 0%;
}

.content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}


.content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.content p{
    color: #fff;
}

.content a{
    position: relative;
    color: #111;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.card .product_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 300px;
    transition: 0.5s;
    transition-delay: 0s;
}

.card:hover .product_img{
    left: 80%;
    transform: translate(-50%, -50%) scale(1.2);
    transition-delay: 0.5s;
}

@media(max-width: 600px){
    .card:hover{
        height: 450px;
        width: 400px;
        transition-delay: 0s;
    }
    
}

/*Card 2*/

.card2{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card2:hover{
    width: 600px;
    transition-delay: 0s;
}
.card2 .circle2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 .circle2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #42a044;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card2:hover .circle2::before{
    clip-path: circle(400px at center);
    
}

.card2 .circle2 .logo2{
    position: relative;
    width: 400px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.card2:hover .circle2 .logo2{
    transform: scale(0);
    transition-delay: 0%;
}

.content2{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card2:hover .content2{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}


.content2 h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.content2 p{
    color: #fff;
}

.content2 a{
    position: relative;
    color: #111;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.card2 .product_img2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 300px;
    transition: 0.5s;
    transition-delay: 0s;
}

.card2:hover .product_img2{
    left: 80%;
    transform: translate(-50%, -50%) scale(1.2);
    transition-delay: 0.5s;
}

@media(max-width: 600px){
    .card2:hover{
        height: 450px;
        width: 400px;
        transition-delay: 0s;
    }
    
}

/*Card 3*/
.card3{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card3:hover{
    width: 600px;
    transition-delay: 0s;
}
.card3 .circle3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card3 .circle3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #005794;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card3:hover .circle3::before{
    clip-path: circle(400px at center);
    
}

.card3 .circle3 .logo3{
    position: relative;
    width: 350px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.card3:hover .circle3 .logo3{
    transform: scale(0);
    transition-delay: 0%;
}

.content3{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.card3:hover .content3{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}


.content3 h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.content3 p{
    color: #fff;
}

.content3 a{
    position: relative;
    color: #111;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.card3 .product_img3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 300px;
    transition: 0.5s;
    transition-delay: 0s;
}

.card3:hover .product_img3{
    left: 80%;
    transform: translate(-50%, -50%) scale(1.2);
    transition-delay: 0.5s;
}

@media(max-width: 600px){
    .card3:hover{
        height: 450px;
        width: 400px;
        transition-delay: 0s;
    }
    
}